datasets:
   dataset1:
    lanes: [1,2,3,4,5,6]
   dataset2:
    lanes: [1,2,3]

references:
   fasta: "<path/to/reference>"
   bwa: "<path/to/BWA_indexed_reference>"
   inv: "scripts/hemomips_inv_ref/"
   annotation: "<path/to/cadd>"

GATK:
   - "gatk4"
   #- "gatk3"

shedskin: "$HOME/miniconda3/envs/shedskin/lib"
